<video autoplay muted loop class="backVideo">
        <source src="/asserts/Signup-bg.mp4" type="video/mp4">
    </video>

    <!-- Image and text -->
    <nav class="navbar nav-bg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
        <img src="/asserts/G-ELECTRA Logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        G-ELECTRA
        </a>
    </nav>

    <div class="signup-section">
        <div class="form-container">
            <p class="title">Create account</p>
            {{#if error}}
               <p class="sub-title" style="font-size: 1rem;">{{error}}</p>
            {{/if}}
            <form class="form" method="post" action="/signup">
            <input name="name" type="text" class="input" placeholder="Name">
            <input name="email" type="email" class="input" placeholder="Email">
            <input name="regnum" type="text" class="input" placeholder="Registration No">
            <input name="password" type="password" class="input" placeholder="Password">
            <input name="confirmPassword" type="password" class="input" placeholder="Confirm Password">
            <button class="form-btn">Create account</button>
            </form>
            <p class="sign-up-label">
            Already have an account? <a href="login.html" class="sign-up-link" >Log in</a>
            </p>
        </div>
    </div>